h1{
    color: cornflowerblue;
}

a{
    text-decoration:none;
    padding: 10px 20px;
    background-color: blue;
    border-radius: 10px;
    color:white
}

a:hover{
    background-color: rgb(74, 74, 216);
}